// Alice Hart Food
// CTA STYLESHEET

a.site_cta {
	text-decoration: none;
}


// Read more CTA
a.read_more {
	display: inline-block;
	clear: both;
	margin: 10px auto;
	padding: 10px 35px;
	border: 1px solid $font;
	&:hover {
		// border: 1px solid $font;
	}
}


// Back cta 
a.back_cta {

}
    
@include respond-to(tablet) {


}
@include respond-to(mobile) {
	

}