// Alice Hart Food
// FOOTER STYLESHEET


footer.site_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: $footer_grey;
	height: 100px;
}

@include respond-to(tablet) {


}
@include respond-to(mobile) {
	

}