// Alice Hart Food
// FOOTER STYLESHEET


footer.site_footer {
	clear: both;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background: $footer_grey;
	padding: 15px 0;
	color: white;
}

footer.site_footer .back_top {
	position: absolute;
	right: 0;
	top: 0;
}
footer.site_footer .back_top a {
	color: white;
}
@include respond-to(tablet) {


}
@include respond-to(mobile) {
	

}