// Alice Hart Food
// FRAMEWORK STYLESHEET

/*NORMALIZE*/
body {
	margin: 0;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	color:  $font;
	@include transition;
}
ul {
	padding: 0;
	margin: 0;
}
img {
	outline: none;
	border: none;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 36px;	
}
h2 {
	font-size: 30px;	
}
.show_desktop {
	display: block;
}
.show_mobile {
	display: none;
}
.clear {
	overflow: hidden;
	float: none;
	clear: both;
}
.os-animation{
  opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}

	
/*FRAMEWORK STYLES*/
.site_container {
	position: relative;
	font-family: $font_title_copy;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 100px;
	color: $font;
}
.inner_content {
	width: 100%;
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}
// WAYPOINTS
.bounceInLeft, 
.bounceInRight, 
.fadeInUp, 
.fadeInUpDelay, 
.fadeInDown, 
.fadeInUpD, 
.fadeInLeft, 
.fadeInRight, 
.bounceInDown,
.fadeIn,
.fadeOut {
	visibility: visible!important;
}

.main_content {
	width: 100%;
	height: 1000px;
	padding-top: 100vh;
}
.main_content section {
	position: relative;
	display: block;
	padding: 35px 0;
	overflow: hidden;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 111;
}

// Typography


// Title copy
.title_copy {
	width: 700px;
	margin: 0 auto;	
	font-weight: 300;	
	text-align: center;   
	letter-spacing: 1px;
}
.title_copy p.lead {
	font-size: 30px;
	line-height: 1.4em;	
}
.title_copy a.site_cta {
	font-size: 18px;
}


// Instagram feed
.instagram_feed {
	width: 100%;
	display: block;
	padding: 30px 0 0;
}
.instagram_feed h3 {
	margin-bottom: 25px;
}
.instagram_feed .photo {
	width: 25%;
	display: block;
	float: left;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.instagram_feed .photo.photo_01 {
	background-image: url(../images/food.jpg);
}
.instagram_feed .photo.photo_02 {
	background-image: url(../images/food_2.jpg);
}
.instagram_feed .photo.photo_03 {
	background-image: url(../images/slide_03.jpg);
}
.instagram_feed .photo.photo_04 {
	background-image: url(../images/slide_01.jpg);
}
.instagram_feed .photo.photo_05 {
	background-image: url(../images/slide_02.jpg);
}

@include respond-to(tablet) {
	.inner_content {
		max-width: 100%;
		min-width: 100%;
	}

}
@include respond-to(mobile) {
	/*GENERIC STYLES*/
	.show_desktop {display: none;}
	.show_mobile {display: block;}

	/*FRAMEWORK STYLES*/
	.site_container {
		
	}
	.inner_content {
		max-width: 92%;
		min-width: 92%;
		padding: 0 4%;
	}

}