// Alice Hart Food
// Grid Gallery STYLESHEET

.main_content section.grid_gallery {
	padding: 0;
}
.grid_gallery article {
	display: block;
	float: left;
	overflow: hidden;
	background-color: $footer_grey;
	min-height: 400px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.grid_gallery article.three_blocks {
	width: 33.3333333%;
}
.grid_gallery article.small_block {
	width: 50%;
}
.grid_gallery article.big_block {
	width: 100%;
}
.block_01 {
	background-image: url(../images/food.jpg);
}   
.block_02 {
	background-image: url(../images/food_2.jpg);
} 
.block_03 {
	background-image: url(../images/slide_01.jpg);
}
.grid_gallery article figure {
	padding: 0;
	margin: 0;
	color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
.grid_gallery article:hover figure {
	display: block;
}
.grid_gallery article figure a {
	color: white;
}
.grid_gallery article figure figcaption {
	padding: 50px;
	position: absolute;
	bottom: 0;
}

// Slideshow 
.slideshow li {
	min-height: 400px;
	background-size: 100%;
}
.slide_01 {
	background-image: url(../images/slide_01.jpg);
}
.slide_02 {
	background-image: url(../images/slide_02.jpg);
}
.slide_03 {
	background-image: url(../images/slide_03.jpg);
}

.slideshow li figure {
	display: block;
}
.slideshow li figure figcaption {
	color: white;
	text-align: center;
	margin: 105px auto 0;
	font-size: 16px;
	width: 100%;
	bottom: 75px;
}
.slideshow li .slide_copy h3 {
	font-size: 45px;
}
.slideshow li .slide_copy a {
	color: white;
}


@include respond-to(tablet) {


}
@include respond-to(mobile) {
	.grid_gallery article {
		min-height: 350px;
		border-bottom: 1px solid white;
	}
	.grid_gallery article.three_blocks,
	.grid_gallery article.small_block {
		width: 100%;
	}

	.grid_gallery article figure {
		display: block;
	}
	.grid_gallery article:hover figure {
		display: block;
	}
	.grid_gallery article figure a {
		color: white;
	}
	.grid_gallery article figure figcaption {
		padding: 4%;
		position: absolute;
		bottom: 0;
	}

	// Slideshow 
	.slideshow li {
		min-height: 400px;
		background-size: cover;
	}		
	.slideshow li figure figcaption {
		margin: 105px auto 0;
		width: 92%;
		bottom: 4%;
	}
	.slideshow li .slide_copy h3 {
		font-size: 34px;
	}

}