// Alice Hart Food
// HEADER STYLESHEET


header.site_header {
	width: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: transparent;
	z-index: 9;
	transition: all 0.4s ease-in-out;
	color: #333;
}
header.site_header.sticky {
	transition: all 0.4s ease-in-out;
	background: $white;
	border-bottom: 1px solid $footer_grey;
}

// Site logo
.logo {
	float: left;
	display: block;
	height: 65px;
	line-height: 65px;
	overflow: hidden;
	font-size: 36px;
	position: absolute;
	z-index: 9;
}

// Site nav
header.site_header nav.site_nav {
	display: block;
	float: right;
	overflow: hidden;
	text-align: center;
}
header.site_header nav.site_nav ul {
	padding: 0;
	margin: 0;
}
header.site_header nav.site_nav ul li {
	height: 65px;
	line-height: 65px;
	display: block;
	float: left;
	padding: 0 20px;
	letter-spacing: 1px;
}
header.site_header nav.site_nav ul li a {
	text-decoration: none;
	padding: 0 0 5px;
}
header.site_header nav.site_nav ul li a.active {
	border-bottom: 2px solid black;
}


$height-icon: 12.5px;
$width-line: 25px;
$height-line: 2px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;


// Mobile hamburger icon
.mobile_button {
	float: right;
	position: absolute;
	z-index: 999999;
	right: 4%;
}
#hamburger-icon {
  width:$width-line;
  height:$height-icon;
  position:relative;
  display:block;
  cursor: pointer;
  margin: 25px 0;
  
  .line {
    display:block;
    background: black;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;    
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

// Hero banner 
.hero_banner {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: block;
	background: grey;
	top: 0;
}
.hero_banner.small_banner {
	height: 60vh;
}
.hero_banner .hero_banner_bg {
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	background-image: url(../images/book_hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	// background-attachment: fixed;
}
.hero_banner h1 {
	color: white;
	text-align: center;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 150px;
}
.hero_banner .down_scroll {
	position: absolute;
	bottom: 35px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	-webkit-animation-delay: 2s; 
    animation-delay: 2s;
    color: white;
}

    
@include respond-to(tablet) {


}
@include respond-to(mobile) {
	header.site_header {
		// position: relative;
		// background: white;
		width: 92%;
		padding: 0 4%;
		overflow: visible;
	}
	header.site_header.sticky {
		background: $white;
		border-bottom: 1px solid $footer_grey;
		width: 92%;
		height: 65px;
		padding: 0 4%
	}

	// Site nav
	header.site_header nav.site_nav {
		width: 100%;
		height: 100%;
		display: none;
		position: fixed;
		top:0;
		left: 0;
		background: white;
		background: rgba(255,255,255, 0.9);
	}
	header.site_header nav.site_nav.active {
		display: block;
		-webkit-animation-duration: 0.4s;
  		animation-duration: 0.4s;
	}
	header.site_header nav.site_nav ul.main_nav {
		margin: 25% auto 0;
	}
	header.site_header nav.site_nav ul li {
		height: 65px;
		line-height: 65px;
		display: block;
		float: none;
		width: 100%;
		font-size: 24px;
		padding: 0;
		-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	transition: all 0.5s ease;
	}
	header.site_header nav.site_nav ul li a {
		text-decoration: none;
		padding: 0 0 5px;
		color: #000;
	}

	header.site_header nav.site_nav ul.social_nav {
		width: 50%;
		margin: 20px auto;
	}
	header.site_header nav.site_nav ul.social_nav li {
		display: block;
		float: left;
		width: 50%;
		padding: 0;
	}


	// Hero banner 
	.hero_banner {
		height: 50vh;
	}

}